@font-face {
	font-family: 'ProximaNovaRgRegular';
	src: url('fonts/ProximaNova-Reg-webfont.eot');
	src: url('fonts/ProximaNova-Reg-webfont-.eot#iefix') format('embedded-opentype'),url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),url('fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
	font-weight: 400;
	font-style: normal }

@font-face {
	font-family: 'ProximaNovaLtSemibold';
	src: url('fonts/ProximaNova-Sbold-webfont.eot');
	src: url('fonts/ProximaNova-Sbold-webfont-.eot#iefix') format('embedded-opentype'),url('fonts/ProximaNova-Sbold-webfont.woff') format('woff'),url('fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),url('fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaLtSemibold') format('svg');
	font-weight: 400;
	font-style: normal }

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { display: block }

[hidden] { display: none }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff }

html,button,input,select,textarea {
	font-family: 'ProximaNovaRgRegular',Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #333 }

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5;
	background: #fff;
	-webkit-text-size-adjust: none }

p,ul,ol { font-size:1.2em;margin: 0 }

p { margin:0;padding: 0 0 15px }

ul,ol { margin: 0 0 15px }

a,img { border: 0 }

::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none }

::selection {
	background: #000;
	color: #fff;
	text-shadow: none }

a { color: #3389c5 }

	a:hover { color: #296d9c }

	a:focus { outline: 0 }

	a:hover,a:active { outline: 0 }

body#home div#work_content { margin: 70px 0 0 }

div#header {
	background: #fff;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

div#title { 
	float: left;
	width: 80%;
}

div#title h1 {
	margin-left: 40px;
	margin-top: 30px;
	text-align: left;
	width: 100%; 
}

div#title h1 a {
	color: #000000;
}

div#nav { 
	float: right;
	width: 20%;
}

div#nav ul {
	font-size: 1.2em;
}

div#nav ul li {
	margin-right: 10px;
	padding: 0;
	list-style: none;
	display: inline;
	float: right;
	text-align: center;
}

div#nav ul li a {
	display: block;
	text-decoration: none;
	padding: 30px 0;
	color: #808080;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear 
}

div#nav ul li a:hover,div#header div#nav ul li.selected a { color: #000 }

div#header p#menu_top {
	float: right;
	padding: 30px 0 0;
	margin: 0 4.098360655737705% 0 0;
	width: 30px;
	height: 23px;
	display: none 
}

div#header p#menu_top a {
	display: block;
	width: 30px;
	height: 23px;
	text-indent: -9999px }

div#about_points { 
	background:#fff;
	padding: 50px 10px 80px 10px;
	margin-left: 200px; 
	margin-right: 100px;
}

div#about_subtext {
	margin-top: 70px;
	margin-left: 400px; 
	margin-right: 100px;
	font-size: 1.1em;
	line-height: 1.4;
}

/*div#about_points article { padding: 0 8.035714285714286% }*/

div#about_points ul {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	line-height: 1.4 
}

div#about_points ul li {
	margin: 0;
	padding: 100px 0 0;
	list-style: none;
	display: inline;
	float: left;
	width: 250px;
	text-align: center 
}

div#about_points ul li.planning { background:url("../../images/about-heart.png") top center no-repeat;margin-right: 4.25531914893617% }
div#about_points ul li.design { background:url("../../images/about-easel.png") top center no-repeat;margin-right: 4.25531914893617% }
div#about_points ul li.development { background: url("../../images/about-cogs.png") top center no-repeat }

div#about_points ul li.planning {
	background: url("../../images/about-heart-x2.png") top center no-repeat;
	-moz-background-size: 70px 67px;
	-webkit-background-size: 70px 67px;
	background-size: 70px 67px 
}

div#about_points ul li.design {
	background: url("../../images/about-easel-x2.png") top center no-repeat;
	-moz-background-size: 70px 67px;
	-webkit-background-size: 70px 67px;
	background-size: 70px 67px 
}

div#about_points ul li.development {
	background: url("../../images/about-cogs-x2.png") top center no-repeat;
	-moz-background-size: 70px 67px;
	-webkit-background-size: 70px 67px;
	background-size: 70px 67px 
}
					
/*div#about_points article { padding: 0 }*/
div#about_points { padding-bottom: 20px }
/*div#about_points ul li { padding:80px 0 40px;width: 100% }*/
/*div#about_points ul li.planning,section#about_points article ul li.design { margin-right: 0 }*/

div#contact_points { 
	background:#fff;
	padding: 50px 10px 80px 10px;
	margin-left: 200px; 
	margin-right: 100px;
}

div#contact_points ul {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	line-height: 1.4 
}

div#contact_points ul li {
	margin: 0;
	padding: 100px 0 0;
	list-style: none;
	display: inline;
	float: left;
	width: 250px;
	text-align: center 
}

div#contact_points ul li.twitter { background:url("../../images/twitter-icon-x2.png") top center no-repeat;margin-right: 4.25531914893617% }
div#contact_points ul li.address { background:url("../../images/address-icon.png") top center no-repeat;margin-right: 4.25531914893617% }
div#contact_points ul li.email { background:url("../../images/email-icon.png") top center no-repeat;margin-right: 4.25531914893617% }
div#contact_points ul li.linkedin { background:url("../../images/linkedin-icon.png") top center no-repeat;margin-right: 4.25531914893617% }
div#contact_points ul li.github { background:url("../../images/github-icon.png") top center no-repeat;margin-right: 4.25531914893617% }
div#contact_points ul li.phone { background:url("../../images/phone-icon.png") top center no-repeat;margin-right: 4.25531914893617% }
					
div#work_content { background:#f5f4ee url("../../images/about-rhs-bg.gif") top center repeat-y; padding: 0 }

div#print_resume {
	margin-top: 10px;
	margin-left: 125px; 
	font-size: 1.1em;
	line-height: 1.4;	
}

div#timeline {
	/*float: left;
	width: 45.90163934426229%;
	margin: 0 0 0 4.098360655737705%;*/
	float: none;
	width: auto;
	padding: 0 0 40px;
	margin: 0 4.098360655737705%;
	background: url("../../images/timeline-bg.gif") 22px 0 repeat-y; 
}

/* wtf? */
div#timeline h2 { padding: 25px 0 25px 16.071428571428573% }
div#timeline h2 { padding: 25px 0 25px 13.333333333333334% }

.work_entry:before, .work_entry:after { content:""; display: table; }
.work_entry:after { clear: both; }

div#timeline div.work_entry { 
	margin: 0 8.928571428571429% 10px 0;
	width: 50%; 
}

div#timeline div.work_entry header { 
	float:left;
	width: 60px;
}

div#timeline div.work_entry header h3 {
	width: 45px;
	height: 45px;
	text-align: center;
	background: url("../../images/timeline-date-circle.png") 0 0 no-repeat;
	color: #fff;
	font-size: .85em;
	padding: 15px 0 0 
}

div#timeline div.work_entry section {
	float: left;
	width: 90%;
	margin-top: 10px;
	border-bottom: 1px solid #cbcbcb 
}

div#timeline div.work_entry section h4 {
	margin: 0;
	padding: 5px 0 15px;
	font-family: 'Montserrat',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.1em;
	line-height: 1.2;
	color: #333 }
}

div#timeline div.work_entry header h3 {
	background: url("../../images/timeline-date-circle-x2.png") 0 0 no-repeat;
	-moz-background-size: 45px 45px;
	-webkit-background-size: 45px 45px;
	background-size: 45px 45px;
}

h1 {
	margin: 0;
	padding: 0 0 40px;
	font-family: 'Montserrat',sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1.2;
	font-size: 2em;
	color: #000;
	text-align: center }

	h1.inline { padding: 20px 0 20px }

h2 {
	margin: 0;
	padding: 0 0 10px;
	font-family: 'Montserrat',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1.2;
	color: #333 }

h3 {
	margin: 0;
	padding: 0 0 10px;
	font-family: 'Montserrat',Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.25em;
	line-height: 1.1;
	color: #333 }

h4 {
	margin: 0;
	padding: 5px 0 15px;
	font-family: 'Montserrat',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.4em;
	line-height: 1.2;
	color: #333 }

.small { font-size: .85em }

.tiny { font-size: .75em }

.center { text-align: center }

.clearfix:before,.clearfix:after { content:"";display: table }

.clearfix:after { clear: both }

.clearfix { *zoom: 1 }

div.clear_left {
	clear: left;
	line-height: .1;
	height: 1px }

div.clear_left_white {
	clear: left;
	line-height: .1;
	height: 1px;
	background: #fff }

div.clear_right {
	clear: right;
	line-height: .1;
	height: 1px }

div.clear_both {
	clear: both;
	line-height: .1;
	height: 1px }

section#header p#menu_top { display: block }

section#header { height:auto;overflow: none }

section#header header {
	padding: 0;
	margin: 0 0 0 4.098360655737705%;
	float: none;
	width: 107px 
}

div#summary_container {
	position: relative;
}
	
.work_summary {
	float: right;
	width: 45%;
	overflow: hidden;
	position: absolute;
	top: 20px;
	left: 50%;
	padding: 20px;
	visibility: hidden;
}

section#contact_content { background:#fff;padding: 0 }


h1 { font-size: 1.5em }

h4 { font-size: 1em }

p,ul,ol { font-size: 1em }

.small { font-size: .8em }

.tiny { font-size: .7em }



@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and ( min--moz-device-pixel-ratio: 2),only screen and ( min-moz-device-pixel-ratio: 2),only screen and ( -o-min-device-pixel-ratio: 2/1),only screen and ( min-device-pixel-ratio: 2),only screen and ( min-resolution: 192dpi),only screen and ( min-resolution: 2dppx) { section#header header h1 a }

section#header p#menu_top a {
	background: url("../../images/nav-expand-icon-x2.png") 0 0 no-repeat;
	-moz-background-size: 30px 23px;
	-webkit-background-size: 30px 23px;
	background-size: 30px 23px }
